body,
html {
  padding: 0;
  margin: 0;
}
a,
a.visited {
  text-decoration: none;
  color: black;
}
.banner-area {
  width: auto;
}
#banner-img {
  display: block;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}
.content-area {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}



.entry-area {
  height: 60vh;
  width: 40vw;
  text-align: center;
}

.statement-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 35px;
}

.statement h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
}

.login-area {
  border-style: solid;
  border-color: gray;
  width: 70%;
  height: 75%;
  margin: 15%;
  margin-top: 5%;
  padding-top: 5px;
  border-radius: 10%;
}
.login-area h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  padding-bottom: 4%;
}
.login-area h4 {
  margin-top: 10%;
  margin-bottom: 2% !important;
}

.login-btn-area {
  background-color: honeydew;
  width: 80%;
  height: 10%;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 2%;
}

.register-btn-area {
  background-color: honeydew;
  width: 80%;
  height: 10%;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 2%;
}
